/Fonte/TratarException/bin/Release
/Fonte/TratarException/obj/Debug/net6.0
/Fonte/TratarException/obj/Release
/Fonte/TratarException/obj
/Fonte/TratarException/Properties/PublishProfiles
/Fonte/.vs/TratarException/v17
/Fonte/.vs/TratarException/FileContentIndex
/Fonte/.vs/TratarException/DesignTimeBuild
/Fonte/.vs/ProjectEvaluation
